<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Sign Up">
        <classes>
            <class name="com.opencart.accounttests.SignUp"/>
        </classes>
    </test>
    <test name="Test My Account">
        <classes>
            <class name="com.opencart.accounttests.MyAccount"/>
        </classes>
    </test>
</suite>